/*Media Queries*/

/*Extra small devices (portrait phones)*/

@media screen and (min-width: 340px) {
  .header-logo {
    margin-left: 0;
  }
}

/*Small devices (landscape phones)*/

@media (min-width: 576px) {
  .header-title {
    font-size: 64px;
  }
  .section-title {
    font-size: 48px;
  }
  .hero-title {
    font-size: 3em;
  }
}

/*Medium devices (tablets)*/

@media (min-width: 768px) {
  .card {
    max-width: calc(100%/3);
  }
}