/*Media Queries*/

/*Extra small devices (portrait phones)*/
@media screen and (min-width: 340px) {
  .header-logo {
    margin-left: 0;
  }
}

/*Small devices (landscape phones)*/
@media (min-width: 576px) { 
  .card {
  max-width: 100%;
  }

  .header-title {
    font-size: 64px;
  }

  .section-title {
    font-size: 48px;
  }

  .hero-title {
	 font-size: 3em;
  }
}

/*Medium devices (tablets)*/
@media (min-width: 768px) { 
  .card {
    max-width: calc(100%/3);
  }
}

/*Large devices (desktops)*/
@media (min-width: 992px) { 
  .card {
    max-width: calc(100%/3);
  }
}

/*Extra large devices (large desktops)*/
@media (min-width: 1200px) { 
  .card {
    max-width: calc(100%/3);
  }
}